{% extends 'base.html' %}
{% load static %}
{% block javascript %}
  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

  {# PHOTOS PAGE SCRIPTS #}
  <script src="{% static 'js/main-upload.js' %}"></script>
{% endblock %}

{% block content %}
     <div style="margin-bottom: 10px;margin-top: 10px">

    </div>
<div class="sidenav">
{% for i in branch %}
  <a href="{% url 'create_main' branch_id=i.pk is_file=0 layer_div=0 %}">{{ i.branch_name }}</a>
{% endfor %}
</div>

<div class="main">
<div style="font-weight: bold; font-size: 20px">{{ branch_name }}</div>
<div style="margin-top: 10px; ">
    <button type="button" class="btn btn-primary js-upload-photos">
    <span class="glyphicon glyphicon-cloud-upload"></span> 이용안내 영상업로드
    </button>
    <input id="fileupload" type="file" name="file"  multiple
       style="display: none;"
       data-url="{% url 'create_main' branch_id=branch_id  is_file=1 layer_div=0%}"
       data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
    <table id="gallery" class="table table-bordered" style="margin-top:10px;">
      <tbody>
        {% for i in guide %}
          <tr>
            <td><a href="{{ i.file.url }}">{{ i.file.name }}</a></td>
            <td>
                <a href="{% url 'delete_guide' pk=i.pk branch_id=branch_id%}" onclick="return confirm('정말 삭제하시겠습니까?')"><img src="{% static 'image/delete.png' %}" class="delete" alt="삭제"></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
<div style="margin-top: 10px; ">
    <button type="button" class="btn btn-primary js-upload-course">
    <span class="glyphicon glyphicon-cloud-upload"></span> 초심자용 게임코스 이미지업로드
    </button>
    <input id="fileupload_course" type="file" name="file"  multiple
       style="display: none;"
       data-url="{% url 'create_main' branch_id=branch_id  is_file=2 layer_div=0%}"
       data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
    <table id="gallery_course" class="table table-bordered" style="margin-top:10px;">
      <tbody>
        {% for i in course %}
          <tr>
            <td><a href="{{ i.file.url }}">{{ i.file.name }}</a></td>
            <td>
                <a href="{% url 'delete_course' pk=i.pk branch_id=branch_id%}" onclick="return confirm('정말 삭제하시겠습니까?')"><img src="{% static 'image/delete.png' %}" class="delete" alt="삭제"></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
<div style="margin-top: 10px; ">
    <button type="button" class="btn btn-primary js-upload-layer01">
    <span class="glyphicon glyphicon-cloud-upload"></span> 레이아웃 Widget01 이미지업로드
    </button>
    <input id="fileupload_layer01" type="file" name="file"  style="display: none;"
       data-url="{% url 'create_main' branch_id=branch_id  is_file=3 layer_div=1%}"
       data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
    <table id="gallery_layer01" class="table table-bordered" style="margin-top:10px;">
      <tbody>
      {%if layer01_count > 0 %}
          <tr>
            <td width="135px">
                <button class="btn btn-success search-btn" onclick="document.location.href='{% url 'create_layersub'  branch_id=branch_id layer_id=layer01.pk layer_div=1 %}'">클릭 이미지 등록</button>
            </td>
            <td><a href="{{ layer01.file.url }}">{{ layer01.file.name }}</a></td>
            <td>
                <a href="{% url 'delete_layer' pk=layer01.pk branch_id=branch_id%}" onclick="return confirm('정말 삭제하시겠습니까?')"><img src="{% static 'image/delete.png' %}" class="delete" alt="삭제"></a>
            </td>
          </tr>
      {%endif%}
      </tbody>
    </table>
</div>

<div style="margin-top: 10px; ">
    <button type="button" class="btn btn-primary js-upload-layer02">
    <span class="glyphicon glyphicon-cloud-upload"></span> 레이아웃 Widget02 이미지업로드
    </button>
    <input type="hidden" name="div" value="2">
    <input id="fileupload_layer02" type="file" name="file"  style="display: none;"
       data-url="{% url 'create_main' branch_id=branch_id  is_file=3  layer_div=2%}"
       data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
    <table id="gallery_layer02" class="table table-bordered" style="margin-top:10px;">
      <tbody>
          {%if layer02_count > 0 %}
          <tr>
            <td width="135px">
                <button class="btn btn-success search-btn" onclick="document.location.href='{% url 'create_layersub'  branch_id=branch_id layer_id=layer02.pk layer_div=2 %}'">클릭 이미지 등록</button>
            </td>
            <td><a href="{{ layer02.file.url }}">{{ layer02.file.name }}</a></td>
            <td>
                <a href="{% url 'delete_layer' pk=layer02.pk branch_id=branch_id%}" onclick="return confirm('정말 삭제하시겠습니까?')"><img src="{% static 'image/delete.png' %}" class="delete" alt="삭제"></a>
            </td>
          </tr>
          {%endif%}
      </tbody>
    </table>
</div>
<div style="margin-top: 10px; ">
    <button type="button" class="btn btn-primary js-upload-layer03">
    <span class="glyphicon glyphicon-cloud-upload"></span> 레이아웃 Widget03 이미지업로드
    </button>
    <input type="hidden" name="div" value="3">
    <input id="fileupload_layer03" type="file" name="file"  style="display: none;"
       data-url="{% url 'create_main' branch_id=branch_id  is_file=3  layer_div=3%}"
       data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
    <table id="gallery_layer03" class="table table-bordered" style="margin-top:10px;">
      <tbody>
          {%if layer03_count > 0 %}
          <tr>
            <td width="135px">
                <button class="btn btn-success search-btn" onclick="document.location.href='{% url 'create_layersub'  branch_id=branch_id layer_id=layer03.pk layer_div=3 %}'">클릭 이미지 등록</button>
            </td>
            <td><a href="{{ layer03.file.url }}">{{ layer03.file.name }}</a></td>
            <td>
                <a href="{% url 'delete_layer' pk=layer03.pk branch_id=branch_id%}" onclick="return confirm('정말 삭제하시겠습니까?')"><img src="{% static 'image/delete.png' %}" class="delete" alt="삭제"></a>
            </td>
          </tr>
          {%endif%}
      </tbody>
    </table>
</div>
<div style="margin-top: 10px; ">
    <button type="button" class="btn btn-primary js-upload-layer04">
    <span class="glyphicon glyphicon-cloud-upload"></span> 레이아웃 Widget04 이미지업로드
    </button>
    <input type="hidden" name="div" value="4">
    <input id="fileupload_layer04" type="file" name="file"  style="display: none;"
       data-url="{% url 'create_main' branch_id=branch_id  is_file=3  layer_div=4%}"
       data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
    <table id="gallery_layer04" class="table table-bordered" style="margin-top:10px;">
      <tbody>
          {%if layer04_count > 0 %}
          <tr>
            <td width="135px">
                <button class="btn btn-success search-btn" onclick="document.location.href='{% url 'create_layersub'  branch_id=branch_id layer_id=layer04.pk layer_div=4 %}'">클릭 이미지 등록</button>
            </td>
            <td><a href="{{ layer04.file.url }}">{{ layer04.file.name }}</a></td>
            <td>
                <a href="{% url 'delete_layer' pk=layer04.pk branch_id=branch_id%}" onclick="return confirm('정말 삭제하시겠습니까?')"><img src="{% static 'image/delete.png' %}" class="delete" alt="삭제"></a>
            </td>
          </tr>
          {%endif%}
      </tbody>
    </table>
</div>
<div style="margin-top: 10px; ">
    <button type="button" class="btn btn-primary js-upload-layer05">
    <span class="glyphicon glyphicon-cloud-upload"></span> 레이아웃 Widget05 이미지업로드
    </button>
    <input type="hidden" name="div" value="5">
    <input id="fileupload_layer05" type="file" name="file"  style="display: none;"
       data-url="{% url 'create_main' branch_id=branch_id  is_file=3  layer_div=5%}"
       data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
    <table id="gallery_layer05" class="table table-bordered" style="margin-top:10px;">
      <tbody>
          {%if layer05_count > 0 %}
          <tr>
            <td width="135px">
                <button class="btn btn-success search-btn" onclick="document.location.href='{% url 'create_layersub'  branch_id=branch_id layer_id=layer05.pk layer_div=5 %}'">클릭 이미지 등록</button>
            </td>
            <td><a href="{{ layer05.file.url }}">{{ layer05.file.name }}</a></td>
            <td>
                <a href="{% url 'delete_layer' pk=layer05.pk branch_id=branch_id%}" onclick="return confirm('정말 삭제하시겠습니까?')"><img src="{% static 'image/delete.png' %}" class="delete" alt="삭제"></a>
            </td>
          </tr>
          {%endif%}
      </tbody>
    </table>
</div>
<div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Uploading...</h4>
      </div>
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
        </div>
      </div>
    </div>
  </div>
</div>
 {% endblock %}